MAILING_LIST_SQL_CONNECTION_STRING='<mailing-list-db-endpoint>'
POSTCODES_GEOJSON_COSMOSDB_ENDPOINT='<postcodes-db-endpoint>'
POSTCODE_DATABASE_SUFFIX='<postcode-db-suffix>'
POSTCODE_FULL_CONTAINER_SUFFIX='<postcode-full-container-suffix>'