MAILING_LIST_SQL_CONNECTION_STRING='Driver={ODBC Driver 18 for SQL Server};Server=<server-name>,<port>;Database=<database-name>;UID=<username>;PWD=<password>;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30'
