pyodbc
fastapi~=0.116.1
uvicorn[standard]~=0.35.0
pydantic~=2.11.7
azure-identity
azure-common
azure-cosmos
python-dotenv~=1.1.1
sqlalchemy~=2.0.43
httpx~=0.28.1
pytest
requests
aiohttp
python-multipart
email_validator~=2.2.0
azure-core~=1.35.0
starlette~=0.47.2